body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  zoom: 100%;
}

img {
  position: absolute;
  top: 60px;
  left: 15px;
  height: 130px;
  z-index: -1;
}

p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

#id-card {
  position: relative;
  margin: 230px 50px 0 0;
  float: right;
  margin-right: 0;
  margin-top: 20rem;
  display:none;
  width: 430px;
  height: 239px;
  padding: 84px 17px 10px 120px;
  background: url("../images/idcard.png");
}

#firstname {
  margin-top: 0.4rem;
  margin-left: 2.5rem;
}

#lastname {
  margin-top: -0.75rem;
  margin-left: 2.5rem;
}

#sex {
  margin-top: 0.45rem;
  margin-left: 2.6rem;
}

#dob {
  margin-top: 0.4rem;
  margin-left: 2.8rem;
}

#exp {
  margin-top: -1.4rem;
  margin-left: 11.4rem;
}

#pid {
  margin-top: 0.55rem;
  margin-left: 10.8rem;
}